body {
  font-family: "Lato", sans-serif;
  margin-left:190px;
  margin: 0;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
.opent {
	font-size:20px;
  color:white;
}
.buttonb {
  color: white;
  font-size:1px;
}
.white{
	color:grey;
}
.foote {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color:grey;
  color: white;
  text-align: center;
}
.footer {
  position: fixed;
  left: 0;
  bottom: -100%;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.main {
	margin-top:60px;
	background:#99ccff;
	padding:60px;
	margin-left: 160px; /* Same as the width of the sidenav */
	font-size: 28px; /* Increased text to enable scrolling */
	padding: 0px 10px;

}
.mainr {
	margin-top:48px;
	background:#ffcc66;
	padding:60px;
	font-size: 28px; /* Increased text to enable scrolling */
	padding: 0px 10px;

}

.title {
	margin-top:100px;
	text-align:center;
	font-size:1px;
	color:white;
}
